body{
    background-color: #092327;
}
h1{
    text-align: center;
    text-decoration: underline #0b5351;
    color: #00a9a5;
}
form{
    margin-left: 170px;
    width: 950px;
    background-color: #00a9a5;
    border:5px solid #0b5351 ;
}
label,td{
    color: #092327 ;
}
th{
    text-align: left;
    padding: 10px;
    width: 50PX;
}
table{
    padding: 10px;
}
#quali{
    border: none;
}
.th{
    text-align: center;
}
.button{
    text-align: center;
    padding-bottom: 10px;
}
